<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<div class="row destinations_row">
<div class="col">
<div class="destinations_container item_grid" style="position: relative; height: 3148.2px;">

<div class="destination item" style="position: absolute; left: 0px; top: 0px;">
<div class="destination_image">
<img src="images/destination_1.jpg" alt="">
<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
</div>
<div class="destination_content">
<div class="destination_title"><a href="destinations.html">Bali</a></div>
<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
<div class="destination_price">From $679</div>
</div>
</div>

<div class="destination item" style="position: absolute; left: 0px; top: 524px;">
<div class="destination_image">
<img src="images/destination_2.jpg" alt="">
</div>
<div class="destination_content">
<div class="destination_title"><a href="destinations.html">Indonesia</a></div>
<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
<div class="destination_price">From $679</div>
</div>
</div>

<div class="destination item" style="position: absolute; left: 0px; top: 1049px;">
<div class="destination_image">
<img src="images/destination_3.jpg" alt="">
</div>
<div class="destination_content">
<div class="destination_title"><a href="destinations.html">San Francisco</a></div>
<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
<div class="destination_price">From $679</div>
</div>
</div>

<div class="destination item" style="position: absolute; left: 0px; top: 1574px;">
<div class="destination_image">
<img src="images/destination_4.jpg" alt="">
</div>
<div class="destination_content">
<div class="destination_title"><a href="destinations.html">Paris</a></div>
<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
<div class="destination_price">From $679</div>
</div>
</div>

<div class="destination item" style="position: absolute; left: 0px; top: 2098px;">
<div class="destination_image">
<img src="images/destination_5.jpg" alt="">
</div>
<div class="destination_content">
<div class="destination_title"><a href="destinations.html">Phi Phi Island</a></div>
<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
<div class="destination_price">From $679</div>
</div>
</div>

<div class="destination item" style="position: absolute; left: 0px; top: 2623px;">
<div class="destination_image">
<img src="images/destination_6.jpg" alt="">
</div>
<div class="destination_content">
<div class="destination_title"><a href="destinations.html">Mykonos</a></div>
<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
<div class="destination_price">From $679</div>
</div>
</div>
</div>
</div>
</div>